html {
    font-family: sans-serif;
    font-size: 15px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.search {
    display: flex;
    width: 582px;
    height: 44px;
    margin: auto;
    border-radius: 60px;
    border-style: solid;
    border-color: #dfe1e5;
    box-shadow: 1px 10px 25px #b4adad;
    
}


#logo {
    display: flex;
    justify-content: center;
    padding: 100px;
    margin-left: 270px;
    margin-top: 20px;
    margin-bottom: -70px;
}

.nav-top li {
    float: left;
}

li {
    display: flex;
    text-align: center;
    padding: 14px 16px;
}

#derecha {
    float: right;
}

#search-icon {
    padding-left: 400px;
    
}